body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #edede9;
  
}

.card {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #f5f3f4;
    color: #1e6091;
    border-bottom: 6px solid #f77f00;
    border-top: 6px solid #f77f00;
    box-shadow: 0 60px 53px -50px #adb5bd;
    transition: all 0.5s ease-out;
   
   
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover{
     transform: scale(1.2);
  
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
